<cmp 
        name = "网络直播分享" 
        link = "http://www.upsbbs.com/tv/" 
        link_target = "_blank"
        description = ""
        skins = "skins/tv.zip"
        plugins="plugins/sharing/sharing.swf,plugins/gbook/gbook.swf"
	lists = "list/www_upsbbs_com_sohu.xml,list/www_upsbbs_com_qq.xml,list/www_upsbbs_com_huashu.xml,list/www_upsbbs_com_sy.xml,list/www_upsbbs_com_music.xml,list/www_upsbbs_com_dianshitai.xml,"
	src_handler = "" 
	lrc_handler = ""
        play_mode = "0" 
        volume = "0.8"
        video_max = "0" 
        video_smoothing = "1" 
        video_blackwhite = "0" 
        video_highlight = "0"
        video_scalemode = "1"
	skin_id = "1"
	play_id = "1"
	auto_play = "1"
	list_delete = ""    
        gbook_topic = "CMP4"
        gbook_xywh = "20,20,32,32"
        tqq_callback = "http://cmp.cenfun.com/cmp4/plugins/tqqcallback.htm"
        tqq_app_key = ""
        tqq_app_secret = ""
        tqq_token = ""
        tqq_token_secret = ""
        tqq_jscallback = ""
/>
/>